@import url("../styles/style.css");
@import url("../scripts/Company-news.js");
@import url("../styles/style-desktop4.css") (min-width: 1024px);
@import url("../styles/style-tablet4.css") (min-width: 769px) and (max-width: 1023px);
@import url("../styles/style-mobile4.css") (max-width: 768px);


 .flex-container3 {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 1%;
}
    
  
    
.Content6 {
  display: flex;
  align-items: center;
  margin: 0.5em;
  padding: 0.7em;
  color: black;
  background-color: rgb(205, 104, 137);
  text-align: center;
  flex-direction: column;
  min-width: 300px;
  width: auto;
  height: 100%;
  
}


.Content6 img{

  padding: 1%;

}
    

        
.Content8{
  margin: 0.5em;
  padding: 0.7em; 
  background-color: rgb(205, 104, 137);
  color: black;
  flex-basis:45%;
}
    
.Content9{

  text-align: center;

}

.Content11{

 width: 300px;
 height: 300px;


}
    
    

.grid-container { 
      grid-template-columns: 100%; 
      grid-template-rows: 10% 10% 70% 25%; 
      grid-template-areas: "header"
                           "banner"
                           "content"
                           "footer"; 
    
}



.Comment1 {
  border: 2px solid rgb(0, 0, 0);
  width:auto;
  height: auto;
  margin-top: 1em;
  padding-top: 10px;
}


.Txt_area{ 
  width:auto; 
  height:auto; 
} 

.Form_comment{ 
  width:auto; 
  height:auto; 
}

.Img2{
  width:40px;
  height:40px; 
  vertical-align:middle;
  margin-top: 5px;
}


.Img3{
  width:40px;
  height:40px; 
  vertical-align:middle;
  margin-left: -2px;
  margin-top: 5px;
}


.Button2{
  background: #800080; 
  font-family:"COMIC SANS MS";
}


.Comment{
  display: flex;
}


.Photo2 {
  display: inline-block; 
  position: relative;
}

.Photo2:hover::after {
  content: attr(data-title);
  position: absolute;
  left: 0%; top: 0%;
  z-index: 1; 
  background: rgba(205,104,137,0.9);
  font-family:"COMIC SANS MS";
  font-size: 18px; 
  padding: 5px 10px; 
  border: 1px solid #333;
  width: 300px;
  height: 300px;
}

.Article-picture1
{
  margin: 0 10px;
  width: 70px;
  height: 70px;
  float: left;
}
.text{
  text-align: right;
}