@import url("../styles/style.css");
@import url("../styles/style-desktop4.css") (min-width: 1024px);
@import url("../styles/style-tablet4.css") (min-width: 769px) and (max-width: 1023px);
@import url("../styles/style-mobile4.css") (max-width: 768px);


 .flex-container3 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;

}
    
  
    
.Content6 {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  margin: 0.5em;
  padding: 0.7em;
  color: black;
  background-color: rgb(205, 104, 137);
  text-align: center;
  flex-direction: column;
}


.Content6 img{

  padding: 1%;

}
    

        
.Content8{
  display: flex; 
  border: 1.5px solid black;
  margin: 0.5em;
  padding: 0.7em; 
  width: auto;
  height:auto;
  color:black;
  background-color: white;
  flex-basis: 25%;
  flex-wrap: wrap;
}
    
.Content9{

  text-align: center;

}

.Content11{

 width: 300px;
 height: 300px;


}
    
    

.grid-container { 
      grid-template-columns: 100%; 
      grid-template-rows: 10% 10% 70% 25%; 
      grid-template-areas: "header"
                           "banner"
                           "content"
                           "footer"; 
    
}



.Comment1 {
  border: 2px solid rgb(169, 169, 169);
  width:100%;
  height: 6em;
  margin-top: 1em;
}

.Comment2 {
  border: 2px solid rgb(169, 169, 169);
  width:100%;
  height: 8em;
  margin-top: 1em;
} 


.Comment3 {
  border: 2px solid rgb(169, 169, 169);
  width:100%;
  height: 5em;
  margin-top: 1em;
} 
.Txt_area{ 
  width:100%; 
  height:300px; 
  margin-left: 8px; 

} 

.Form_comment{ 
  width:100%; 
  height: 100%; 
}

.Img2{
  width:40px;
  height:40px; 
  vertical-align:middle;
  margin-top: 5px;
}


.Img3{
  width:40px;
  height:40px; 
  vertical-align:middle;
  margin-left: -2px;
  margin-top: 5px;
}


.Button2{
  background: #800080; 
  font-family:"COMIC SANS MS";
}


.Comment{
  display: flex;
}


.Photo2 {
  display: inline-block; 
  position: relative;
}

.Photo2:hover::after {
  content: attr(data-title);
  position: absolute;
  left: 0%; top: 0%;
  z-index: 1; 
  background: rgba(205,104,137,0.9);
  font-family:"COMIC SANS MS";
  font-size: 18px; 
  padding: 5px 10px; 
  border: 1px solid #333;
  width: 300px;
  height: 300px;
}