@import url("../styles/style.css");
@import url("../styles/style-desktop.css")(min-width: 1024px);
@import url("../styles/style-tablet.css") (min-width: 769px) and (max-width: 1023px);
@import url("../styles/style-mobile.css") (max-width: 768px);

.flex-container3 {
 justify-content: space-around;
 overflow: hidden;

}


.content6{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
  margin: 0.5em;
  padding: 0.7em;
  color: black;
  background-color: rgb(205, 104, 137);
  text-align: center;

}

.Img2{
  width:40px;
  height:40px; 
  vertical-align:middle;
  margin-top: 5px;
}

.Img3{
  width:40px;
  height:40px; 
  vertical-align:middle;
  margin-left: -2px;
  margin-top: 5px;
}


.Img4{
  width:300px;
  height:400px;
  margin-top: 50px;
}

.Button2{
background: #800080; 
}


.grid-container { 
      grid-template-columns: 100%; 
      grid-template-rows: 10% 10% 70% 25%; 
      grid-template-areas: "header"
                           "banner"
                           "content"
                           "footer"; 
    
}
