@import url("../styles/style.css");
@import url("../styles/style-desktop.css")(min-width: 1024px);
@import url("../styles/style-tablet.css") (min-width: 769px) and (max-width: 1023px);
@import url("../styles/style-mobile.css") (max-width: 768px);




.flex-container3 {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  flex-wrap: wrap;
}





.Content6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
  margin: 0.5em;
  padding: 0.7em;
  width: auto;
  height: auto;
  color: black;
  background-color: rgb(205, 104, 137);
  text-align: center;
}



.Content9{

  text-align:center;

}


.Content11{

  width:220px;
  height:195px;
 transition: 0.4s;

}

.Content11:hover{
  transform: scale(1.15, 1.15);
} 
.grid-container { 
  grid-template-columns: 100%;
  grid-template-rows: 10% 10% 158% 25%; 
  grid-template-areas: "header" 
                       "banner" 
                       "content"
                       "footer"; 
     
} 


nav {
     
          margin: 100px 0;
       
      }


      nav ul {
        margin: 0;
         padding:0;
         list-style: none;
         position: relative;
          }

      
      nav ul li {

          display:inline-block;
          background-color:#800080;
          border: 1px solid black;
          
          }
      
    
      nav a {
          display:block;
          padding:0 10px;
          color:#FFF;
          text-decoration:none;

      }
      
      
      nav a:hover {
          background-color: #DA70D6;

    }



 


       nav ul ul {
          display: none;
          position: absolute;
          top: 100%;
      }
      
     
     nav ul li:hover > ul {
          display:inherit;
      }
      
    
       nav ul ul li {
          min-width:140px;
          float:none;
          display:list-item;
          position: relative;
      }


  nav ul ul ul {
          position: absolute;
          top:0;
          left:100%;
    }

