@import url("../styles/style.css");
@import url("../styles/style-desktop2.css") (min-width: 1024px);
@import url("../styles/style-tablet2.css") (min-width: 769px) and (max-width: 1023px);
@import url("../styles/style-mobile2.css") (max-width: 768px);



.flex-container3 {
  display: flex;
  margin: 1%;
  justify-content: space-around;
}



.Content6{
  display: flex;
  align-items: center;
  flex-basis: 25%;
  margin: 0.5em;
  padding: 0.7em;
  width: 10em;
  height: 18em;
  color: black;
  background-color: rgb(205, 104, 137);
  text-align: center;
  justify-content:center;
}





.grid-container { 
  grid-template-columns: 100%; 
  grid-template-rows: 10% 10% 65% 25%; 
  grid-template-areas: "header" 
                       "banner"
                       "content"
                       "footer"; 

}