@media  (min-width: 768px)  {
 .grid-container { 
  grid-template-columns: 100%; 
  grid-template-rows: 10% 70% 25%; 
  grid-template-areas: "header" 
                       "content"
                       "footer"; 
    
  grid-row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;    
                      
  }              

} 


@media screen and (min-device-width: 768px)  {
  .grid-container { 
  grid-template-columns: 100%; 
  grid-template-rows: 10% 70% 25%; 
  grid-template-areas: "header" 
                       "content"
                       "footer"; 
    
  grid-row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
                  
  } 

}  
