.grid-container { 
  display: grid; 
  background-image:url(../assets/Background.jpg);
  font-family:"COMIC SANS MS"; 
  font-size: 18px;
  grid-row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
} 

.flex-container {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;
}

.flex-container1 {
  display: flex;
  margin: 1%;
  width: 100%;
  flex-wrap: wrap;
 }


.flex-container4 {
  margin: 1%;
  justify-content: space-around;
}

.flex-container5 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 85%;

}


.flex-container6 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}





.Header1 {
  padding: 0.5em; 

}


.Header2{
  margin: 15px;
 /* padding: 0.5em; */
  font-size: 15px;
}



.Header3 {
  display: flex;
  border: 1.5px solid black;
  border-radius: 100px;
  margin: 0.2em;
  padding: 0.3em; 
  align-items: center;
  text-align: center;
  background-color: white;
 
}

.Banner4{
  margin: 0.5em;
  padding: 0.7em;
  width: auto;
  height: auto;
  color: red;
  background-color: rgb(205, 104, 137);
}



.Footer7{
  margin: 0.5em;
  color:#9400D3;
  background-color: rgb(205, 104, 137);
  text-align: center; 
 }

.Footer10{
  color:black;
}


.Footer11{
  margin-bottom: 30px;
}

.Header12
{
  width:50px;
  height:45px;
}



.header { 
  grid-area: header;
  width: 85%;
  margin: 0 auto;
  opacity: 0.88;
  filter: alpha(Opacity=88); 

} 

.banner { 
  grid-area: banner; 
  width: 85%;
  margin: 0 auto;
  opacity: 0.88;
  filter: alpha(Opacity=88);
  z-index: 100;
  position: relative;
} 


.content{ 
  grid-area: content; 
  width: 85%;
  margin: 0 auto;
  opacity: 0.88;
  filter: alpha(Opacity=88); 
 
} 
    
.footer { 
  grid-area: footer; 
  width: 85%;
  margin: 0 auto;
  opacity: 0.88;
  filter: alpha(Opacity=88); 
} 



.color1 { 
  background-color:rgb(205, 150,205)
}



nav ul {

  margin: 0;
  padding:0;
  list-style: none;
  position: relative;
  z-index: 100;
}

      
nav ul li {

  display:inline-block;
  background-color:#800080;
  border: 1px solid black;
  float: left;
  position: relative;
   
}
      
    
nav a {
  display:block;
  padding:0 10px;
  color:#FFF;
  text-decoration:none;
}
      
      
nav a:hover {
  background-color: #DA70D6;
}


nav ul ul {
  display: none;
  position:absolute;
  top: 100%;
}
      
     
nav ul li:hover > ul {
 display:inherit;
}
      
    
nav ul ul li {
  min-width:140px;
  float:none;
  display:list-item;
  position: relative;
  z-index: 101;
        
}


nav ul ul ul {
  position: absolute;
  top:0;
  left:100%;
}

  
a{
  color:white;
}

a:visited{
  color:white;
}

a:active{
  color:white;
}


.Photo {
  display: inline-block;
  position: relative; /
}
.Photo:hover::after {
  content: attr(data-title);
  position: absolute;
  left: 20%; top: 30%;
  z-index: 1; 
  background: rgba(205,104,137,0.9); 
  font-family: "COMIC SANS MS"; 
  font-size: 11px; 
  padding: 5px 10px;
  border: 1px solid #333;
}


.Img5{
  width:28px;
  height:28px; 
}


.Article-picture
{
  margin: 0 10px;
  width: 70px;
  height: 70px;
  float: left;
}


#toTop {
  position:fixed;
  bottom:112px;
  right:30px;
  overflow:hidden;
  width:61px;
  height:61px;
  text-indent:100%;
  background:url(../assets/ui.totop.png) no-repeat left top;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 20px;
}

#toTopHover {
  background:url(../assets/ui.totop.png) no-repeat left -400px;
  width:51px;
  height:51px;
  display:block;
  overflow:hidden;
  float:left;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
  border: 5px solid rgb(255, 255, 255);
  border-radius: 14px;
}

#toTop:active, #toTop:focus {
  outline:none;
}