@media  (max-width: 768px)  {
  .grid-container { 
  grid-template-columns: 100%; 
  grid-template-rows: 10% 65% 25%; 
  grid-template-areas: "header" 
                       "content"
                       "footer"; 

  grid-row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
                
  } 

} 


@media screen and (max-device-width: 768px)  {
  .grid-container { 
  grid-template-columns: 100%; 
  grid-template-rows: 10% 65% 10%; 
  grid-template-areas: "header" 
                       "content"
                       "footer"; 

  grid-row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
                  
  } 

} 