@media  (min-width: 1024px)  {
  .grid-container { 
  grid-template-columns: 100%; 
  grid-template-rows: 10% 10% 158% 158% 25%; 
  grid-template-areas: "header" 
                       "banner" 
                       "banner1"
                       "content"
                       "footer"; 
  grid-row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
                  
  } 

} 


@media screen and (min-device-width: 1024px)  {
  .grid-container { 
  grid-template-columns: 100%; 
  grid-template-rows: 10% 10% 158% 158% 25%; 
  grid-template-areas: "header" 
                       "banner" 
                       "banner1"
                       "content"
                       "footer"; 
  grid-row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
                  
  } 

} 