.grid-container { 
  display: grid; 
  background-image:url(../assets/background.jpg);
  font-family:"COMIC SANS MS"; 
  font-size: 18px;
} 

.flex-container {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;

}

.flex-container4 {
  display: flex;
  margin: 1%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-container5 {
  display: flex;
  justify-content: flex-start;
 flex-direction: row;
 width: 70%;

}


.flex-container6 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}





.Header1 {
  padding: 0.5em; 
}


.Header2{
  border: 1.5px solid gray;
  margin: 15px;
  padding: 0.5em; 
  width: 59%;
  height:1em;
  color:gray;
  align-items: center;
  font-size: 15px;
  background-color:white;
  white-space: nowrap;
}



.Header3 {
  display: flex;
  border: 1.5px solid black;
  border-radius: 100px;
  margin: 0.2em;
  padding: 0.3em; 
  align-items: center;
  text-align: center;
 
}


.Footer7{
  display: flex;
  flex-basis: 45%;
  flex-direction: column;
  margin: 0.5em;
  padding: 0.7em; 
  color:red;
  background-color: rgb(205, 104, 137);
  width: auto;
  height:auto;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.Footer10{

  color:black;

}

.Header12
{
  width:50px;
  height:45px;
}

.header { 
  grid-area: header;
  width: 85%;
  height:100%;
  margin: 0 auto;
  opacity: 0.88;
  filter: alpha(Opacity=88); 
} 

.content{ 
  grid-area: content; 
  width: 85%;
  margin: 0 auto;
  opacity: 0.88;
  filter: alpha(Opacity=88); 
} 
    
.footer { 
  grid-area: footer; 
  width: 85%;
  margin: 0 auto;
  opacity: 0.88;
  filter: alpha(Opacity=88); 
} 

  .color1 { 
  background-color:rgb(205, 150,205)