 .grid-container { 
  grid-template-columns: 100%; 
  grid-template-rows: 10% 70% 25%; 
  grid-template-areas: "header" 
                       "content"
                       "footer"; 

    
  } 

