@import url("../styles/style.css");
@import url("../styles/style-desktop.css")(min-width: 1024px);
@import url("../styles/style-tablet.css") (min-width: 769px) and (max-width: 1023px);
@import url("../styles/style-mobile.css") (max-width: 768px);

.vhod1{
  display: flex;
  align-items: center;
  margin: 0.5em;
  padding: 0.7em;
  color: black;
  background-color: rgb(205, 104, 137);
  text-align: center;
  width: 80%;
  align-content: center;
  flex-direction: column;

}

.flex-container15{
	display: flex;
  margin: 1%;
  flex-direction: column;
  align-items: center;
}

.grid-container { 
      grid-template-columns: 100%; 
      grid-template-rows: 10% 10% 70% 25%; 
      grid-template-areas: "header"
                           "banner"
                           "content"
                           "footer"; 
    
}
