@import url("../styles/style.css");
@import url("../styles/style-desktop3.css");
@import url("../styles/style-tablet3.css");
@import url("../styles/style-mobile3.css");


.flex-container3 {
  display: flex;
  margin: 1%;
  justify-content: space-around;
  padding: 0.2em;
  align-items: center;
}



.container6 {
  display: flex;
  padding: 0.7em;
  width: 100%;
  height: auto;
  color: black;
  background-color: rgb(205, 104, 137);
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
}

.container6 img{

 padding: 1%;

}

.container8{
 
 width: 200px;
 height: 200px;
 float: right;

}



.grid-container { 
  grid-template-columns: 100%; 
  grid-template-rows: 10%  65% 25%; 
  grid-template-areas: "header" 
                       "content"
                       "footer"; 

  grid-row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;               
} 